@import './variables';
@import './fonts';

html,
body {
  margin: 0;
  padding: 0;
  background: $white;
  overflow-x: hidden;
  * {
    color: $blue;
    font-family: 'Montserrat';
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Futura';
}

*:focus,
*:active,
*:active:focus {
  outline: none;
}

*::selection,
*::-moz-selection {
  background: $blue;
  color: $white;
}

button,
input {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
